<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <!-- 
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sgm</property>
        <property name="hibernate.connection.username">sisapp</property>
        <property name="hibernate.connection.password">sis98</property> -->
    <!-- -->
    <property name="hibernate.connection.url">jdbc:postgresql://190.57.138.220:5432/joaoPrueba</property>
    <property name="hibernate.connection.username">joao</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="c3p0.minPoolSize">5</property>
    <property name="c3p0.timeout">1800</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.cache.use_second_level_cache">false</property>
    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ManagedSessionContext</property>
    <property name="hibernate.transaction.flush_before_completion">false</property>
    <property name="hibernate.transaction.auto_close_session">false</property>
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.classloading.use_current_tccl_as_parent">false</property>
    <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        
    <mapping class="com.jscompany.ebsystem.entidades.usuarios.Loguin"/>
    <mapping class="com.jscompany.ebsystem.entidades.usuarios.Notificacion"/>
    <mapping class="com.jscompany.ebsystem.entidades.usuarios.Persona"/>
    <mapping class="com.jscompany.ebsystem.entidades.usuarios.PersonaEmail"/>
    <mapping class="com.jscompany.ebsystem.entidades.usuarios.PersonaTelefono"/>
    <mapping class="com.jscompany.ebsystem.entidades.usuarios.Rol"/>
    
    <mapping class="com.jscompany.ebsystem.entidades.colegios.AsignacionCurso"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.AsignacionProfesor"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.AsignacionProfesorMaterias"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.Colegio"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.Curso"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.DesgloseNota"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.DetalleMateria"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.Materia"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.Matricula"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.Paralelo"/>
    <mapping class="com.jscompany.ebsystem.entidades.colegios.PeriodoLectivo"/>
  </session-factory>
</hibernate-configuration>
